#wrappe
{
	margin-top: 100px;
}
#wrappe
#wrappe > #events-tabs
{
	margin-left: 0px;
	width: 100%;
	list-style: none;
	/*Gradient*/
	background-image: -webkit-linear-gradient(top, rgba(60,60,60,0.5), rgba(120,120,120,0.5)); 
	background-image:    -moz-linear-gradient(top, #0c93C0, #FFF); 
	background-image:     -ms-linear-gradient(top, #0c93C0, #FFF); 
	background-image:      -o-linear-gradient(top, #0c93C0, #FFF); 
	background-image:         linear-gradient(top, #0c93C0, #FFF);
}
#wrappe > #events-tabs > li
{
	border: 1px solid black;
	min-width: 150px;
	display: inline-block;
}