body
{
	font-family: calibri;
	font-weight: lighter;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
#wrapper
{
	width: 1170px;
	margin: 0 auto;
	min-height:60px;
}
div#topic-name
{
	margin-top: 0px;
	background-image: url('../Images/background.jpg');
	background-size: 100%;
	background-position: 50% 15%;
	min-height: 40%;
}

.nav
{
	float: right;
	display: block;
	margin-top: 55px;
	right: -30px;
	position: fixed;
	z-index: 11;
}
.nav li
{
	text-align: center;
	margin-bottom: 10px;
	border-radius: 6px;
	background-color: rgba(50,50,50,0.8);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.nav li:hover
{
	transform: translateX(-20px);
	-webkit-transform: translateX(-20px);
}
.nav li a
{
	color: rgba(200,200,200,1);
	text-decoration: none;
	margin-left: 12px;
	margin-right: 40px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.nav li a:hover
{
	color: white;
	text-shadow: 0px 0px 7px white;
	text-decoration: underline;
	background-color: transparent;
}

div#navbar
{
	top: 0;
	position: fixed;
	width: 100%;
	height: auto;
	min-height: 90px;
	background-color: rgba(90,90,90,0.85);
	box-shadow: 0px 1px 15px 0px rgba(30,30,30,0.6);
	z-index: 1;
}
header.navbar
{
	top: 0px;
	position: fixed;
	background-color: transparent;
	background-repeat: repeat-x;
}
.navbar > ul
{
	float: right;
	display: inline-block;
	list-style: none;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	transition: all 0.3s linear 0s ;
	-webkit-transition: all 0.3s linear 0s;

}
.navbar > ul > li
{
	display: inline;
}
.navbar > ul > li > a:link,.navbar > ul > li > a:visited,.dropdown-submenu > a:link,.dropdown-submenu > a:visited
{

	display: inline-block;
	text-decoration: none;
	color: white;
	text-align: center;
	min-width: 80px;
	height: 90px;
	line-height: 90px;
	margin-bottom: 0px;
	transition: all 0.2s linear 0s ;
	-webkit-transition: all 0.2s linear 0s;
}
.navbar > ul > li > a:hover,.navbar > ul > li > a:active,.dropdown-submenu > a:hover,.dropdown-submenu > a:active
{
	background-color: rgba(30,30,30,0.3);
	color: white;
	text-shadow: 0px 0px 10px white;
}
.navbar .dropdown-submenu > .dropdown-menu 
{
	left: 0;
	margin-top: 41px;
	background-color: rgba(150,150,150,0.4);
  	-webkit-border-radius: 0 0px 6px 6px;
     -moz-border-radius: 0 0px 6px 6px;
          border-radius: 0 0px 6px 6px;
}
.dropdown-submenu > div.display
{
	display: none;
	opacity: 0;
	transition: all 0.8s linear 0s ;
	-webkit-transition: all 0.8s linear 0s;
}
.dropdown-submenu:hover > div.display
{
	display: block;
	opacity: 1;
}
div.display
{
	position: absolute;
	margin: 0px;
	min-height: 300px;
	background-color: rgba(30,30,30,0.8);
  	-webkit-border-radius: 0 0px 6px 6px;
     -moz-border-radius: 0 0px 6px 6px;
          border-radius: 0 0px 6px 6px;
	box-shadow: 0px 4px 10px 0px rgba(30,30,30,0.6);
}
div.events-menu
{
	left: -650px;
}
div.tuts-menu
{
	left: -734px;
}
div.display > .dropdown-menu
{
	display: inline-block;
	position: relative;
	min-width: 280px;
	margin: 0;
	margin-top: 60px;
	float: right;
	text-align: right;
	top:0;
	background-color: transparent;
	border-radius: 0px;
	box-shadow: none;
	border:none;
	border-left: 1px solid grey;
}
.dropdown-menu > li > a
{
	font-weight: bold;
	color: lightgrey;
}
div.display
{

	background-image: url('../Images/gear-outline.png');
	background-size: 130px 130px;
	background-position: 33% 50%;
	background-repeat: no-repeat;
}
div.display > .dropdown-menu a:hover
{
	background-color: rgba(30,30,30,0.3);
}
div.display > .dropdown-menu > li > div.sub-display
{
	display: none;
	min-height: 300px;
	position: absolute;
	top: -60px;
	left: -820;
}
div.display > .dropdown-menu > li >  a:after
{
	display: block;
	float: left;
	width: 0;
	height: 0;
	margin-top: 5px;
	margin-left: 0px;
	border-color: transparent;
	border-right-color: #cccccc;
	border-style: solid;
	border-width: 5px 5px 5px 5px;
	content: "";
}
div.display > .dropdown-menu > li#icon-1:hover > div#icon-1,
div.display > .dropdown-menu > li#icon-2:hover > div#icon-2,
div.display > .dropdown-menu > li#icon-3:hover > div#icon-3,
div.display > .dropdown-menu > li#icon-4:hover > div#icon-4,
div.display > .dropdown-menu > li#icon-5:hover > div#icon-5,
div.display > .dropdown-menu > li#icon-6:hover > div#icon-6
{
	display: block;
}
div.image-display
{
	margin-top: 15px;
	min-height: 250px;
	position: absolute;
	top: 0;
	float: left;
}
div.image-display > img
{
	height: 270px;
	float: right;
}
div.text-display
{
	margin: 0;
	float: right;
	margin-right: -21;
	min-height: 300px;
}
div.text-display > a,div.text-display > a:visited
{
	color: rgba(0,150,255,1);
}
div.text-display > a:hover
{
	color: rgba(0,220,255,1);
}
div.text-display > a > h2
{
	text-align: center;
}
div.text-display > p
{
	text-align: justify;
	color: white;
	margin-left: 0px;
	margin-right: 25px;
}
div.sub-display .list:first-of-type
{
	margin-top: 15px;
}
.list
{
	margin-right: -20;
}
.list ul
{
	font-weight: bold;
	color: white;
}
.list ul > li
{
	font-weight: normal;
	color: white;
	margin-top: 13px;
	margin-bottom: 5px;
}
.list ul > li > a
{
	color: lightgrey;
}
.list ul > li > a:hover
{
	color: white;
	background-color: none;
}
.list > li
{
	display: inline-block;
	text-align: center;
	color: white;
	margin: 0;
	padding: 0;
}
.dropdown-menu a
{
	margin: 0;
	padding: 0;
	color: white;
	transition: all 0.3s linear 0s ;
	-webkit-transition: all 0.3s linear 0s;
}







div#events
{
	
	border: 1px solid white;
	background-color: lightgrey;
	position: absolute;
	margin-left: 0px;
	margin-top: 60px;
	background-repeat: no-repeat;
	z-index: 0;
}
div#events > div
{
	min-height: 100%;
	margin-bottom: 0;
}
div#events > div > ul
{
	list-style: none;
}
div#events > div  div
{
	text-align: center;
	min-height: 270px;
	background-color: white;
	box-shadow: 4px 4px 10px 0px grey;
	margin-bottom: 10px;
	margin-top: 10px;
}
div#events > div div > img
{
	min-width: 200px;
	height: 150px;
	transition: all 1s linear 0s;
	-webkit-transition: all 1s linear 0s;
}
div#events > div  div > img
{
	transform:rotateX(360deg);
	-webkit-transform:rotateX(360deg);
}
div#events > div > div > p
{
	top: 0;
	left: 0;
	position: relative;
	display: block;
}
div.event
{
	min-height: 100%;
	width: 100%;
	height: auto;
}
.list1
{
	width: 96%;
	margin-left: 2%;
	margin-bottom: 10px;
	list1-style: none;
	padding: 0;
}
ul
{
	font-weight: bolder;
}
.list1 ul > li
{
	font-weight: normal;
	margin-top: 13px;
	margin-bottom: 5px;
}
.list1 > li
{
	display: inline-block;
	text-align: center;
	margin: 0;
	padding: 0;
}
#kraig
{
	background: url('../Images/kraig.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-color: grey;
	color: white;
	margin: 0;
	padding: 0;
	min-height: 600px;
}
#avr
{
	background: url('../Images/avr.jpg') 50% 0 no-repeat fixed;
	background-size: 100%;
	background-color: grey;
	color: white;
	bottom: 100px;
	margin: 0;
	padding: 0;
	min-height: 600px;
}
#arduino
{
	background: url('../Images/arduino.jpg') 50% 0 no-repeat fixed;
	background-size: 100%;
	background-color: grey;
	color: white;
	margin: 0;
	padding: 0;
	min-height: 600px;
}
#manual
{
	background: url('../Images/manual.jpg') 50% 0 no-repeat fixed;
	background-size: 100%;
	background-color: grey;
	color: white;
	margin: 0;
	padding: 0;
	min-height: 600px;
}
#IP
{
	background: url('../Images/IP.jpg') 50% 0 no-repeat fixed;
	background-size: 100%;
	background-color: grey;
	color: white;
	margin: 0;
	padding: 0;
	min-height: 600px;
}



ul.content
{
	margin-top: -40;
}
.content a
{
	/*color: white;*/
	color: rgba(50,50,50,1);
}
.content a:hover
{
	color: black;
	text-shadow: 0px 0px 3px rgba(50,50,50,1);
}
.content > li > div > div
{
	margin-top: 130px;
	border-radius: 7px;
	/*box-shadow: 3px 3px 10px 0px rgba(40,40,40,0.4) inset, -3px -3px 10px 0px rgba(40,40,40,0.4) inset;*/
	/*color: white;*/
	/*background-color: rgba(80,80,80,0.6);*/
	color: black;
	background-color: rgba(255,255,255,0.50);
	box-shadow: 3px 3px 20px 0px rgba(40,40,40,0.4) inset, -3px -3px 20px 0px rgba(40,40,40,0.4) inset;
}
#kraig > div,#arduino > div,#IP > div
{
	float: right;
	margin-right: 110px;
}
.content p
{
	font-size: 100%;
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
}
strong
{
	font-size: 110%;
	text-align: center;
}
.content
{
	list-style: none;
	top: -30px;
	margin-left: 0;
}
