<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
		<link rel="stylesheet" type="text/css" href="navbar.css">
	</head>
	<body>
		<div id="navbar">
			<div id="wrapper">
				<header class="navbar span12">
					<div style="float:left;margin-left:-20px;"><img width="400px;" src="Images/rbtx.png"></div>
					<ul>
						<li class="dropdown-submenu">
							<div id="drop">
								<ul>
									<li>
										The Team
									</li>
									<li>
										The Team
									</li>
								</ul>
							</div>
							<a href="homepage.html">Home</a>
							<span></span>
						</li>
						<li class="dropdown-submenu">
							<ul class="dropdown-menu">
								<li>
									<div align="center" class="display">
										<div class="span6 image-display"><img src="Images/inspiralon-nav.jpg"></div>
										<div class="span6 text-display"><a href="#inSPIRALon"><h2>inSPIRALon</h2></a><p><strong>Problem Statement :-</strong> A problem that has always been faced by sewage boards has been keeping their pipes unblocked. This event aims to solve that.</p></div>
									</div>
									<a href="#inspiralon">inSPIRALon</a>
								</li>
								<li>
									<a href="#canyonrush">Canyon Rush</a>
									<div align="center" class="display">
										<div class="span6 image-display"><img src="Images/canyon-rush-nav.jpg"></div>
										<div class="span6 text-display"><a href="#canyon"><h2>Canyon Rush</h2></a><p><strong>Problem Statement :-</strong> Build a manually controlled robot capable of traversing an arena similar to a CANYON (with grooves on parallel walls) and collect objects placed at certain depths.</p></div>
									</div>
								</li>
								<li>
									<a href="#tremors">Tremors</a>
									<div align="center" class="display">
										<div class="span6 image-display"><img src="Images/quake-nav.jpg"></div>
										<div class="span6 text-display"><a href="#quake"><h2>Quake</h2></a><p><p><strong>Problem Statement :-</strong> Build an autonomous robot that can detect the mini earthquakes and evacuate the victims which are away from the epicenter.</p></div>
									</div>
								</li>
								<li>
									<a href="#transporter">Transprorter</a>
									<div align="center" class="display">
										<div class="span6 image-display"><img src="Images/transporter-nav.jpg"></div>
										<div class="span6 text-display"><a href="#transporter"><h2>Transporter</h2></a><p><strong>Problem Statement :-</strong> Build an autonomous robot which can traverse a grid and place cubes in voids on the grid.</p></div>
									</div>
								</li>
								<li>
									<a href="#geoaware">Geo Aware</a>
									<div align="center" class="display">
										<div class="span6 image-display"><img src="Images/geo-aware-nav.jpg"></div>
										<div class="span6 text-display"><a href="#geo-aware"><h2>Geo-Aware</h2></a><p><strong>Problem Statement :-</strong> Create an Image Processing robot which can use onboard video to navigate an environment based on  an overhead image as a map.</p></div>
									</div>
								</li>
							</ul>
							<!-- <div class="display span11 events-menu">
								<ul class="dropdown-menu">
									<li id="icon-1">
										<a href="#inSPIRALon">inSPIRALon</a>
										<div id="icon-1" class="sub-display span8">
											<div class="span6 image-display"><img src="Images/inspiralon.png"></div>
											<div class="span3 text-display"><a href="#inSPIRALon"><h2>inSPIRALon</h2></a><p><strong>Problem Statement :-</strong> A problem that has always been faced by sewage boards has been keeping their pipes unblocked. This event aims to solve that.</p></div>
										</div>
									</li>
									<li id="icon-2">
										<a href="#canyon">Canyon Rush</a>
										<div id="icon-2" class="sub-display span8">
											<div class="span6 image-display"><img src="Images/canyon-rush.jpg"></div>
											<div class="span3 text-display"><a href="#canyon"><h2>Canyon Rush</h2></a><p><strong>Problem Statement :-</strong> Build a manually controlled robot capable of traversing an arena similar to a CANYON (with grooves on parallel walls) and collect objects placed at certain depths.</p></div>
										</div>
									</li>
									<li id="icon-3">
										<a href="#quake">Quake</a>
										<div id="icon-3" class="sub-display span8">
											<div class="span3 text-display"><a href="#quake"><h2>Quake</h2></a><p><p><strong>Problem Statement :-</strong> Build an autonomous robot that can detect the mini earthquakes and evacuate the victims which are away from the epicenter.</p></div>
											<div class="span6 image-display"><img src="Images/quake.jpg"></div>
										</div>
									</li>
									<li id="icon-4">
										<a href="#transporter">Transporter</a>
										<div id="icon-4" class="sub-display span8">
											<div class="span3 text-display"><a href="#transporter"><h2>Transporter</h2></a><p><strong>Problem Statement :-</strong> Build an autonomous robot which can traverse a grid and place cubes in voids on the grid.</p></div>
											<div class="span6 image-display"><img src="Images/transporter.jpg"></div>
										</div>
									</li>
									<li id="icon-5">
										<a href="#geo-aware">Geo-Aware</a>
										<div id="icon-5" class="sub-display span8">
											<div class="span3 text-display"><a href="#geo-aware"><h2>Geo-Aware</h2></a><p><strong>Problem Statement :-</strong> Create an Image Processing robot which can use onboard video to navigate an environment based on  an overhead image as a map.</p></div>
											<div class="span6 image-display"><img src="Images/geo-aware.jpg"></div>
										</div>
									</li>
								</ul>
							</div> -->
							<a tabindex="-1" href="../Events/Events.html">Events</a>
							<span></span>
						</li>
						<li class="dropdown-submenu">
							<ul class="dropdown-menu">
								<li>
									<div class="display span6">
										<table width="100%">
											<tbody>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<a href="#inspiralon">Manual</a>
								</li>
								<li>
									<div class="display span6">
										<table width="100%">
											<tbody>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<a href="#inspiralon">AVR</a>
								</li>
								<li>
									<div class="display span6">
										<table width="100%">
											<tbody>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<a href="#inspiralon">IP</a>
								</li>
								<li>
									<div class="display span6">
										<table width="100%">
											<tbody>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<a href="#inspiralon">Arduino</a>
								</li>
								<li>
									<div class="display span6">
										<table width="100%">
											<tbody>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
												<tr>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
													<td>
														<a href="">Tutorial1</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<a href="#inspiralon">Autonomous</a>
								</li>
							</ul>
							<!-- <div class="display span11 tuts-menu">
								<ul class="dropdown-menu">
									<li id="icon-1">
										<a href="#kraig">K.R.A.I.G.</a>
										<div id="icon-1" class="sub-display span8">
											<ul width="96%" align="center" class="list">
												<li align="center" style="width:18%;">
													<ul>Module 0
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
												<li align="center" style="width:60%;font-weight:bolder;">Module 1
													<ul align="center" class="list">
														<li align="center" style="width:32%;">
															<ul>Module 1.a
																<li><a href="tutorial1">Tutorial 1</a></li>
																<li><a href="tutorial2">Tutorial 2</a></li>
																<li><a href="tutorial3">Tutorial 3</a></li>
																<li><a href="tutorial4">Tutorial 4</a></li>
															</ul>
														</li>
														<li align="center" style="width:32%;">
															<ul>Module 1.b
																<li><a href="tutorial1">Tutorial 1</a></li>
																<li><a href="tutorial2">Tutorial 2</a></li>
																<li><a href="tutorial3">Tutorial 3</a></li>
																<li><a href="tutorial4">Tutorial 4</a></li>
															</ul>
														</li>
														<li align="center" style="width:32%;">
															<ul>Module 1.c
																<li><a href="tutorial1">Tutorial 1</a></li>
																<li><a href="tutorial2">Tutorial 2</a></li>
																<li><a href="tutorial3">Tutorial 3</a></li>
																<li><a href="tutorial4">Tutorial 4</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li align="center" style="width:18%;">
													<ul>Module 2
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</li>
									<li id="icon-2">
										<a href="#avr">Autonomous and AVR Tutorials</a>
										<div id="icon-2" class="sub-display span8">
											<ul align="center" class="list" style="margin-top: 70px;">
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</li>
									<li id="icon-3">
										<a href="#arduino">Arduino Tutorials</a>
										<div id="icon-3" class="sub-display span8">
											<ul align="center" class="list" style="margin-top: 70px;">
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</li>
									<li id="icon-4">
										<a href="#manual">Manual Robotics Tutorials</a>
										<div id="icon-4" class="sub-display span8">
											<ul align="center" class="list" style="margin-top: 70px;">
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</li>
									<li id="icon-5">
										<a href="#IP">Image Processing</a>
										<div id="icon-5" class="sub-display span8">
											<ul align="center" class="list" style="margin-top: 70px;">
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
												<li align="center" style="width:24%;">
													<ul>
														<li><a href="tutorial1">Tutorial 1</a></li>
														<li><a href="tutorial2">Tutorial 2</a></li>
														<li><a href="tutorial3">Tutorial 3</a></li>
														<li><a href="tutorial4">Tutorial 4</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div> -->
							<a tabindex="-1" href="../Tutorials/Tutorials.html">Tutorial</a>
							<span></span>
						</li>
						<li>
							<a href="#workshops">Workshops</a>
						</li>
						<li>
							<a href="#miscellanious">Misc</a>
						</li>
						<li>
							<a href="#dreamabot">Dream-A-Bot</a>
						</li>
						<li>
							<a href="#archive">Archive</a>
						</li>
						<li>
							<img align="right" src="Images/iitlogo.png" style="height:70px;margin-top:-80px;">
						</li>
					</ul>
				</header>
			</div>
		</div>
	</body>
</html>